body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17212F
}

  code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
}

.p-component {
  border-radius: 10px
}

@media only screen and (max-width: 600px) {
  .storeGridItem {
      width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) {
      flex-direction: row !important;
  }
  .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
      text-align: left !important;
  }
  .timeline-demo .customized-timeline .p-timeline-event-opposite {
      flex: 0;
  }
  .timeline-demo .customized-timeline .p-card {
      margin-top: 1rem;
  }
}