.productname {
    font-size: 1.5rem;
    font-weight: 700;
}

.productdescription {
    margin: 0 0 1rem 0;
}

.productgriditem {
    border-radius: 10px;
    margin: .5em;
    border: 1px solid var(--surface-border);
    padding: 1rem;
}

.dataview {
    text-align: center;
}

.overview {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}
